body {
    font-family: 'Roboto', sans-serif;
    background-color: #000051;
    color: #9c27b0;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-right: auto;

    padding-left: 2 rem;
    padding-right: 2 rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}

pre, code, kbd, samp, tt{
  font-family: 'Roboto Mono', monospace;
  font-size:1em;
}

.nav {
    float: right;
    padding-right: 1rem;
}

.nav ul li{
    padding: 1rem;
    list-style: none;
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    text-align: center;
    color: #9c27b0;
}

.button {
    color: white;
    background-color: black;
}

.fucking_big_button{
    color: white;
    background-color: black;
}