body {
    font-family: 'Roboto', sans-serif;
    background-color: #000051;
    color: #9c27b0;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-right: auto;

    padding-left: 2 rem;
    padding-right: 2 rem;
}

.mono {
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}

pre, code, kbd, samp, tt{
  font-family: 'Roboto Mono', monospace;
  font-size:1em;
}

header {
    padding-right: 1rem;
    display: block;
}

header ul{
    position: absolute;
    right: 0;
}

header h1 {
    font-size: 2rem;
}

header ul li{
    padding: 1rem;
    list-style: none;
    display: inline;
}

header ul li a {
    text-decoration: none;
    text-align: center;
    color: #9c27b0;
}

header ul li a:hover{
    text-decoration: underline;
}

.button {
    color: white;
    background-color: black;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
}

.button a {
    font-size: 1.25rem;
}

::selection {
    background-color: #9c27b0;
    color: #000051;
}