a span {
    margin-right: 0.25rem;
    margin-left:  0.25rem;
}

.button {
    max-width: 30rem;
    font-size: 1.5rem;
    display: block;
    margin: 1rem auto;
}

ul {
    list-style-type: none;
}

#github {
    background-color: darkmagenta;
    color: white;
}

#instagram {
    background-color: #FF1493;
    color: white;
}

#twitter {
    background-color: aqua;
    color: black;
}

#facebook {
    background-color: cornflowerblue;
    color: black;
}

#mail {
    background-color: orange;
    color: black;
}