.carousel div {
    padding: 8rem;

}

.carousel h2 {
    font-size: 4rem;
}

.carousel h3 {
    font-family: 'Roboto', sans-serif;
}

#beacon {
    background-color: #A020F0;
    color: white;
}

#beacon::selection{
    color: #A020F0;
    background-color: white;
}

#mirus {
    background-color: black;
    color: white;
}

#mirus::selection{
    color: black;
    background-color: white;
}

#help {
    background-color: #FF007F;
    color: black;
}

#help::selection{
    background-color: black;
    color: #FF007F;
}

#bello {
    background-color: #40E0D0;
    color: black;
}

#bello::selection{
    color: #40E0D0;
    background-color: black;
}